body {
	font-family: 'Balsamiq Sans', cursive;
	background-color: #1b1b1b;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #f1c9e2;
}

a:hover {
	color: #eb98cb;
}

.button {
	display: inline-block;
	width: 250px;
	font-size: 32px;
	color: #ffffff;
	background-color: #9d3c8d;
	border-radius: 48px;
	text-align: center;
	padding-top: 2px; /*Crude fix to get rid of missalignment due to unsupported font. If you use a supported font remove this.*/
}

.button:hover {
	background-color: #c969b4;
}

#slots {
	text-align: center;
	display: inline;
}

.slot {
	width: 140px;
	height: 140px;
	border: 1px solid transparent;
	background-color: #2b2b2b;
}

.slot:hover {
	background-color: #c969b4;
	border-color: #c7a4b9;
}

.checked {
	background-color: #a58a9b !important;
}

#buttons {
	text-align: center;
	padding-top: 12px; /*Crude alignment fix, feel free to remove / replace with better code lol*/
}

#bingo {
	position: fixed;
	left: 10px;
	right: 10px;
	top: 170px;
	text-align: center;
	transform-origin: center top;
}

#banner {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 160px;
	border-bottom: 1px solid #f1c9e2;
	background-color: #1b1b1b;
	
	text-align: center;
}

#footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 16px;
	border-top: 1px solid #f1c9e2;
	background-color: #1b1b1b;
	text-align: center;
	/*More Crude padding. This is bad practice, you shouldn't use px, but I'm tired*/
	padding-top: 5px; 
	padding-bottom: 2px;
}

#notif {
	position: fixed;
	pointer-events: none;
	right: 10px;
	bottom: 10px;
	background-color: #9d3c8d;
	font-size: 20px;
	border-radius: 6px;
	padding: 2px;
	
	transition: opacity 5s;
	display: none;
}

.tooltip {
	position: fixed;
	pointer-events: none;
	top: 10px;
	left: 10px;
	
	background-color: #9d3c8d;
	font-size: 12px;
	border-radius: 6px;
	padding: 2px;
	opacity: 0;
}
.visibleTip {
	opacity: 100%;
}
